.goog-logo-link {
    display:none !important;
}

.goog-te-gadget {
    color: transparent !important;
}
li#google_translate_element {
    height: 16px;
    top: -3px;
}
select.goog-te-combo {
    height: 29px;
    border-color: #9ea6b4;
    border-radius: 8px;
    background-color: #ededed;
}
#google_translate_element{text-align:right;display:block}
.goog-te-banner-frame.skiptranslate { display: none !important;}
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; }
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; }
.activity-root { display: hide !important;}
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}
